@import "tailwindcss";



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-primary{
  background-color: #0010A3;
}

.text-primary{
  color: #0010A3;
}

.bg-secondary{
  background-color: #F67809;
}
.text-secondary{
  color: #F67809;
}

.courseCard-down{
  writing-mode:vertical-rl;
  /* text-orientation: ; */
}